/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.d-grid{
    display: -ms-grid;
    display: grid;
}
.d-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.body{
    background-color: #fff;
    font-size: 14px;
    /* font-family: Prompt; */
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;

}
.grid-container{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.container{
    background-color: #EF6A3E;
    /* padding: 10px 0 20px 0; */
}
.headerlogo{
    /* background-color: #EF6A3E; */
    margin: 0 auto;
    width: 90%;
    padding: 20px 0 20px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* align-items: flex-start; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.logoblock{
    
    /* align-items: center;  */
}
.nav_block ul{
    /* list-style: none; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav_block ul li{
    display: block;
    margin-right: 20px;
    
}
.nav_block ul li a{
    text-decoration: none;
    display: inline-block;
    color: lightcyan;
}



.contact{
    text-transform: uppercase;
padding: 14px 30px;
height: 45px;
display: inline-block;
background: #1A1A1A;
border-radius: 50px;
color: #fff;
border: none;
/* margin-top: 10px; */
/* align-items: center; */
}



.slice-box{
    margin: 30px 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 3rem;
    width: 100%;
    cursor: pointer;
}
.slice{
   position: absolute; 
   font-size: 3rem;
   text-transform: uppercase;
   line-height: 1.1;
   -webkit-transition: -webkit-transform 0.2s ease;
   transition: -webkit-transform 0.2s ease;
   -o-transition: transform 0.2s ease;
   transition: transform 0.2s ease;
   transition: transform 0.2s ease, -webkit-transform 0.2s ease;

}
.slice-top{
    -webkit-clip-path: polygon(100% 0,100% 0%,0 100%, 0 0);
            clip-path: polygon(100% 0,100% 0%,0 100%, 0 0);
}
.slice-bottom{
    -webkit-clip-path: polygon(100% 0,100% 0%,100% 100%, 0% 100%);
            clip-path: polygon(100% 0,100% 0%,100% 100%, 0% 100%);
}
.slice-box:hover .slice-top{
    -webkit-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
            transform: translateX(-30px);
}
.slice-box:hover .slice-bottom{
    -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
            transform: translateX(30px);
}
.glav{
    text-transform: uppercase;
    text-align: center;

}

.film-block{
    /* width: 90%; */
    background-color: #EF6A3E;
    margin: auto;
    -ms-grid-columns: minmax(200px,30%) minmax(200px,70%);
    grid-template-columns: minmax(200px,30%) minmax(200px,70%);
    /* grid-gap: 10px; */
    /* padding-right: 20px; */
    border: 5px solid white;
        grid-template-areas: 
    "img opisanie"
    "silka silka";
}
.film-block div:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img;
}
.film-block div:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: opisanie;
}
.film-block div:nth-child(3){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: silka;
}
/* .film-block div:nth-child(4){
    grid-area: proigrivatel;
} */
.film-item{
    /* border: 2px solid grey; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* pad */
    /* text-align: ; */
}
.film-item ul{
    list-style: none;
}
.film-item ul li a{
    text-decoration: none;
    color: #1A1A1A;
    
}

footer{
    background-color: #222d33;
    padding: 30px 0 20px;
}
.container-f{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}


@media(max-width:768px){
.headerlogo{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.film-block{
        grid-template-areas: 
    "img silka"
    "opisanie";
}
.film-block div:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img;
}
.film-block div:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: opisanie;
}
.film-block div:nth-child(2){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: silka;
}
.film-block div:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
}
.film-block div:nth-child(2){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
}
.film-block div:nth-child(3){
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
}






}
@media(max-width:480px){
    .nav_block ul{
        /* list-style: none; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .film-block{
            grid-template-areas: 
        "img"
        "opisanie"
        "silka";
    }
    .film-block div:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-area: img;
    }
    .film-block div:nth-child(2){
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        grid-area: opisanie;
    }
    .film-block div:nth-child(3){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-area: silka;
    }
    @media (max-width:768px){
.film-block div:nth-child(1){
            -ms-grid-row: 1;
            -ms-grid-column: 1;
}
.film-block div:nth-child(3){
            -ms-grid-row: 2;
            -ms-grid-column: 1;
}
.film-block div:nth-child(2){
            -ms-grid-row: 1;
            -ms-grid-column: 2;
            -ms-grid-column-span: 1;
}
.film-block div:nth-child(1){
            -ms-grid-row: 1;
            -ms-grid-column: 1;
}
.film-block div:nth-child(2){
            -ms-grid-row: 2;
            -ms-grid-column: 1;
}
.film-block div:nth-child(3){
            -ms-grid-row: 1;
            -ms-grid-column: 2;
            -ms-grid-column-span: 1;
}
    }
    @media (max-width:480px){
    .film-block div:nth-child(1){
            -ms-grid-row: 1;
            -ms-grid-column: 1;
    }
    .film-block div:nth-child(2){
            -ms-grid-row: 2;
            -ms-grid-column: 1;
    }
    .film-block div:nth-child(3){
            -ms-grid-row: 3;
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
    }
    }
    .film-block{grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    }
    .film-block div:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .film-block div:nth-child(2){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .film-block div:nth-child(3){
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .film-block div:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .film-block div:nth-child(3){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .film-block div:nth-child(2){
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    
}
